<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar Sesion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Iniciar sesi칩n</h1>
        <nav> 
          <ul>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/users/login">Iniciar sesi칩n</a></li>
            <li><a href="/users/logout">Cerrar sesi칩n</a></li>
          </ul>
        </nav>
    </header>
    <form action="/users/login" method="POST">
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Contrase침a</label>
            <input type="password" name="password">
        </div>
            <button type="submit">Enviar</button>
    </form>
    <h3><a href="/movies">Volver al inicio</a></h3>
  </body>
</html>