<!DOCTYPE html>
<html>
  <head>
    <title>Crear Peliculas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Registrarse</h1>
        <nav> 
          <ul>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/users/logout">Cerrar sesión</a></li>
          </ul>
        </nav>
    </header>
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red">ERROR</p>
        <ul>
          <% for ( let i = 0; i < errors.length ; i++){ %>
            <li>
              <%=errors[i].msg%>
            </li>
          <% } %>
        </ul>
    <% } %>
    <form action="/users/register" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Enviar!</button>
    </form>
    <h3><a href="/movies">Volver al inicio</a></h3>
  </body>
</html>